.events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events__info {
  min-height: 10rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--tui-base-03);
}

.tag-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 0;
}

.tag-span {
  border: 1px solid #ccc;
  margin: 3px;
  padding: 5px;
  border-radius: 3px;
}

.events__actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.arrow-button:before {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #000;
}

.arrow-button:last-child:before {
  transform: rotate(180deg);
}
