<div class="events">
  <div class="events__info">
    <div class="tag-items">
      <span class="tag-span">Менеджмент</span>
      <span class="tag-span">Урбанистика</span>
      <span></span>
      <span class="tag-span">24.05.2023</span>
    </div>

    <div>
      <p>Обмен лучшими практиками из личного управленческого опыта</p>
    </div>
  </div>

  <div class="events__actions">
    <button class="arrow-button"></button>
    <button class="arrow-button"></button>
  </div>
</div>
