.timesheet {
  display: grid;
  grid-template-rows: auto;
}

.timesheet-item {
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  display: grid;
  gap: 3px;
}

.timesheet-span {
  margin: 3px;
  padding: 5px;
  border-radius: 3px;
}

.tag-items {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  padding: 10px 0;
}
