<div class="timesheet">
  <div class="timesheet-item">
    <p>Мастер-класс "О ценностях программы"</p>
    <hr>
    <div class="tag-items">
      <span></span>
      <span></span>
      <span class="timesheet-span">30 мая</span>
      <span class="timesheet-span">15 минут</span>
    </div>
  </div>
  <div class="timesheet-item">
    <p>Экскурсия в "Дом занимательной науки"</p>
    <hr>
    <div class="tag-items">
      <span></span>
      <span></span>
      <span class="timesheet-span">31 мая</span>
      <span class="timesheet-span">30 минут</span>
    </div>
  </div>
</div>
