<div class="container">
  <!-- HEADER -->
  <div class="header">
    <h1 class="header__title">
      Вход в систему
    </h1>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <tui-input class="form__field" formControlName="login">
        Логин
        <input tuiTextfield/>
      </tui-input>

      <tui-input-password class="form__field" formControlName="password">
        Пароль
        <input tuiTextfield/>
      </tui-input-password>

      <button
        class="form__submit"
        tuiButton
        type="submit"
        appearance="custom"
        size="m"
        [disabled]="form.invalid"
      >
        Войти
      </button>
    </form>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <button
      tuiButton
      type="button"
      appearance="custom-flat"
      size="m"
      (click)="goToSignup()"
    >
      Создать аккаунт
    </button>
  </div>
</div>
