@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '/src/styles/theme/colors.less';

.item-card {
  border: 1px solid var(--tui-base-04);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: @background-base;
  color: @text-default;
}

.divider {
  text-align: center;
}

.preview-button {
  display: block;
  width: 80%;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #663399;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
