<div class="rating">
  <ul class="rating__list">
    <ng-container *ngFor="let ratingItem of ratingList">
      <li class="item-card rating-info">
        <span
          class="rating-info__position"
          [class.rating-info__position_bold]="ratingItem.position === keyPosition"
        >
          {{ ratingItem.position }}
        </span>

        <span class="rating-info__name">
          {{ ratingItem.entity | formatName: format }}
        </span>
      </li>
    </ng-container>
  </ul>

  <span class="rating__total">
    {{ keyPosition }} / {{ ratingTotal }}
  </span>
</div>
