.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
}

.rating__list {
  max-height: 13rem;
}

.rating-info {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.rating-info__position {
  &_bold {
    font-weight: bold;
  }
}

.rating-info__name {
  margin-left: 1rem;
}

.rating__total {
  width: 80%;
  text-align: right;
  margin: 0 auto;
}
