<div class="actions">
  <tui-scrollbar>
    <div class="actions__list">
      <ng-container *ngFor="let action of actions">
        <button
          class="action-item"
          tuiButton
          appearance="custom"
          size="m"
          (click)="handleAction(action.code)"
        >
          {{ action.title }}
        </button>
      </ng-container>
    </div>
  </tui-scrollbar>
</div>
