// ########## MAIN ##########

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.feature-progress {
  grid-column: span 4;
}

.feature-profile {
  grid-column: span 3;
}

.feature-tabel {
  grid-column: span 3;
}

.feature-actions {
  grid-column: span 2;
}

.feature-rating {
  grid-column: span 3;
}

.feature-events {
  grid-column: span 4;
}

.feature-timesheet {
  grid-column: span 5;
}

// ########## PROGRESS ##########

.progress {
  display: flex;
  min-height: 15rem;
  justify-content: center;
  align-items: center;

  b {
    font-weight: bold;
  }
}

// ########## PROFILE ##########

.profile {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__info {
    margin: 0 auto;
  }
}

// ########## TABEL ##########

.tabel {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
