<div class="container">
  <app-preview-card class="feature-progress" title="Школа наставников">
    <ng-container *ngTemplateOutlet="blockProgress"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-profile" title="Стажер">
    <ng-container *ngTemplateOutlet="blockProfile"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-tabel" title="Табель">
    <ng-container *ngTemplateOutlet="blockTabel"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-actions" title="Действия">
    <app-user-actions [actions]="mentorActions"></app-user-actions>
  </app-preview-card>

  <app-preview-card class="feature-rating" title="Рейтинг по программе развития">
    <app-users-rating></app-users-rating>
  </app-preview-card>

  <app-preview-card class="feature-events" title="Последние события">
    <app-events-list></app-events-list>
  </app-preview-card>

  <app-preview-card class="feature-timesheet" title="Расписание программы развития стажера">
    <app-study-timesheet></app-study-timesheet>
  </app-preview-card>
</div>

<!-- PROGRESS -->
<ng-template #blockProgress>
  <div class="progress">
    <span>Мой статус: <b>проходится</b></span>
  </div>
</ng-template>

<!-- PROFILE -->
<ng-template #blockProfile>
  <div class="profile">
    <ul class="profile__info">
      <li>ФИО: <b>{{ candidates[0] | formatName: NameFormat.CASUAL }}</b></li>
      <li>Статус приглашения: <b>активно</b></li>
      <li>Тестовое задание: <b>выполняется</b></li>
    </ul>

    <div class="profile__actions">
      <app-user-actions [actions]="toCandidateActions"></app-user-actions>
    </div>
  </div>
</ng-template>

<!-- TABEL -->
<ng-template #blockTabel>
  <div class="tabel">
    <app-user-actions [actions]="toTabelActions"></app-user-actions>
  </div>
</ng-template>

<!-- EVENTS -->
<ng-template #blockEvents>
  <app-events-list></app-events-list>
</ng-template>
