<div class="container">
  <app-preview-card class="feature-organization" [title]="'Организация: ' + organization.fullName">
    <app-users-list
      [format]="NameFormat.LONG"
      [users]="candidates"
      btnText="Посмотреть список кандидатов"
    ></app-users-list>
  </app-preview-card>

  <app-preview-card class="feature-requests" title="Одобренные заявки">
    <app-users-list
      [format]="NameFormat.CASUAL"
      [users]="approvedCandidates"
    ></app-users-list>
  </app-preview-card>

  <app-preview-card class="feature-actions" title="Действия">
    <app-user-actions [actions]="hrActions"></app-user-actions>
  </app-preview-card>

  <app-preview-card class="feature-ratings" title="Рейтинг по программе развития">
    <ng-container *ngTemplateOutlet="blockRating"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-timesheet" title="Расписание стажеров">
    <app-study-timesheet></app-study-timesheet>
  </app-preview-card>

  <app-preview-card class="feature-school" title="Рейтинг">
    <app-school-rating></app-school-rating>
  </app-preview-card>
</div>

<!-- RATINGS -->
<ng-template #blockRating>
  <div class="rating">
    <ul class="rating__categories">
      <li class="rating__category">Стажеры</li>
      <li class="rating__category">Наставники</li>
      <li class="rating__category">Организации</li>
    </ul>

    <div class="raging__data">
      <app-users-rating></app-users-rating>
    </div>
  </div>
</ng-template>
