.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.feature-organization {
  grid-column: span 5;
}

.feature-requests {
  grid-column: span 4;
}

.feature-actions {
  grid-column: span 3;
}

.feature-ratings {
  grid-column: span 4;
}

.feature-timesheet {
  grid-column: span 4;
}

.feature-school {
  grid-column: span 4;
}

// ########## RATINGS ##########

.rating__categories {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.rating__category {
  border: 1px solid var(--tui-base-04);
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;

  &:first-child {
    background-color: var(--tui-base-03)
  }

  &:not(:first-child) {
    margin-left: 1rem;
  }
}

.raging__data {
  margin-top: 2rem;
}
