@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '/src/styles/theme/colors.less';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  border-radius: 0 0 2rem 2rem;

  background-color: @background-block;
  color: @text-contrast;
  .shadow(4);
}

// ##################################################

.main {
  display: flex;
  align-items: center;
}

.main__label {
  font-size: 2rem;
}

.main__role {
  margin-left: 2rem;
  width: 10rem;
}

// ##################################################

.navigation__tab {
  padding: 0 1rem;
  font-size: 1.25rem;
}

// ##################################################

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info__email {
  font-weight: bold;
}

.user-menu {
  margin-left: 2rem;
}

.actions {
  display: flex;
  align-items: center;
}
