<div
  class="container"
>
  <!-- MAIN -->
  <div class="main">
    <h1 class="main__label">
      Collabse
    </h1>
  </div>

  <!-- NAVIGATION -->
  <div class="navigation">
    <tui-tabs>
      <ng-container *ngFor="let navLink of navLinks">
        <a
          tuiTab
          [routerLink]="navLink.path"
          routerLinkActive
          class="navigation__tab"
        >
          {{ navLink.label }}
        </a>
      </ng-container>
    </tui-tabs>
  </div>

  <!-- ACTIONS -->
  <div class="actions">
    <ng-container *ngIf="this.appMode === AppMode.DEMO">
      <!-- roles select -->
      <tui-select
        class="main__role"
        [formControl]="demoUserRoleControl"
        [tuiTextfieldLabelOutside]="true"
        [valueContent]="roleSelectLabel"
      >
        Роль
        <input tuiTextfield/>

        <ng-template #roleSelectLabel let-role>
          {{ role.title }}
        </ng-template>

        <ng-template tuiDataList>
          <tui-data-list>
            <button
              *ngFor="let role of roles"
              tuiOption
              [value]="role"
            >
              {{ role.title }}
            </button>
          </tui-data-list>
        </ng-template>
      </tui-select>
    </ng-container>

    <ng-container *ngIf="this.appMode !== AppMode.DEMO">
      <!-- user-info -->
      <div *ngIf="!!user" class="user-info">
        <span class="user-info__email">{{ user.email }}</span>
        <span class="user-info__role">{{ rolePreview }}</span>
      </div>

      <!-- user menu -->
      <tui-hosted-dropdown
        class="user-menu"
        [content]="dropdown"
        [(open)]="isMenuOpened"
        tuiDropdownAlign="right"
      >
        <tui-svg
          src="tuiIconUserLarge"
          class="icon"
        ></tui-svg>

        <tui-svg
          src="tuiIconChevronDown"
          class="icon"
          [class.icon_rotated]="isMenuOpened"
        ></tui-svg>
      </tui-hosted-dropdown>
    </ng-container>
  </div>
</div>

<ng-template #dropdown>
  <tui-data-list>
    <button
      *ngFor="let action of userActions"
      tuiOption
      (click)="handleAction(action.code)"
    >
      {{ action.title }}
    </button>
  </tui-data-list>
</ng-template>
