<div class="container">
  <div class="controls">
    <button
      tuiIconButton
      type="button"
      appearance="icon"
      icon="tuiIconArrowLeftLarge"
      (click)="handleMove(MoveDirection.PREV)"
    ></button>

    <span class="title">
      {{ modeTitles[currentMode] }}
    </span>

    <button
      tuiIconButton
      type="button"
      appearance="icon"
      icon="tuiIconArrowRightLarge"
      (click)="handleMove(MoveDirection.NEXT)"
    ></button>
  </div>

  <div class="content">
    <ng-container [ngSwitch]="currentMode">
      <ng-container *ngSwitchCase="SchoolMode.CAREER_SCHOOL">
        <app-users-list
          [format]="NameFormat.LONG"
          [users]="approvedCandidates"
          btnText="Посмотреть список кандидатов"
        ></app-users-list>
      </ng-container>

      <ng-container *ngSwitchCase="SchoolMode.MENTOR_SCHOOL">
        <app-users-list
          [format]="NameFormat.LONG"
          [users]="approvedMentors"
          btnText="Посмотреть список наставников"
        ></app-users-list>
      </ng-container>
    </ng-container>
  </div>
</div>
