@path-alter-aves: '../../assets/fonts/alter-aves';

@font-face {
  font-family: 'alter-aves';
  src: url('@{path-alter-aves}/alter_aves.eot');
  src: url('@{path-alter-aves}/alter_aves.eot?#iefix') format('embedded-opentype'),
       url('@{path-alter-aves}/alter_aves.otf') format('opentype'),
       url('@{path-alter-aves}/alter_aves.ttf') format('truetype'),
       url('@{path-alter-aves}/alter_aves.woff') format('woff');
  font-weight: normal;
  font-style: normal;

  font-kerning: normal;
  -moz-font-feature-settings:"kern=1";
  -moz-font-feature-settings:"kern";
  -ms-font-feature-settings:"kern" 1;
  font-feature-settings:"kern";
}
