@path-gt-walsheim: '../../assets/fonts/gt-walsheim';

// mode #1: weight LIGHT + style NORMAL
@font-face {
  font-family: 'gt-walsheim';
  src: url('@{path-gt-walsheim}/light-normal/GT-Walsheim-LC-Light.otf') format('opentype'),
       url('@{path-gt-walsheim}/light-normal/GT-Walsheim-LC-Light.ttf') format('truetype'),
       url('@{path-gt-walsheim}/light-normal/GT-Walsheim-LC-Light.woff') format('woff'),
       url('@{path-gt-walsheim}/light-normal/GT-Walsheim-LC-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

// mode #2: weight LIGHT + style OBLIQUE
@font-face {
  font-family: 'gt-walsheim';
  src: url('@{path-gt-walsheim}/light-oblique/GT-Walsheim-LC-Light-Oblique.otf') format('opentype'),
       url('@{path-gt-walsheim}/light-oblique/GT-Walsheim-LC-Light-Oblique.ttf') format('truetype'),
       url('@{path-gt-walsheim}/light-oblique/GT-Walsheim-LC-Light-Oblique.woff') format('woff'),
       url('@{path-gt-walsheim}/light-oblique/GT-Walsheim-LC-Light-Oblique.woff2') format('woff2');
  font-weight: lighter;
  font-style: oblique;
}

// mode #3: weight NORMAL + style NORMAL
@font-face {
  font-family: 'gt-walsheim';
  src: url('@{path-gt-walsheim}/normal-normal/GT-Walsheim-LC-Regular.otf') format('opentype'),
       url('@{path-gt-walsheim}/normal-normal/GT-Walsheim-LC-Regular.ttf') format('truetype'),
       url('@{path-gt-walsheim}/normal-normal/GT-Walsheim-LC-Regular.woff') format('woff'),
       url('@{path-gt-walsheim}/normal-normal/GT-Walsheim-LC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// mode #4: weight NORMAL + style OBLIQUE
@font-face {
  font-family: 'gt-walsheim';
  src: url('@{path-gt-walsheim}/normal-oblique/GT-Walsheim-LC-Regular-Oblique.otf') format('opentype'),
       url('@{path-gt-walsheim}/normal-oblique/GT-Walsheim-LC-Regular-Oblique.ttf') format('truetype'),
       url('@{path-gt-walsheim}/normal-oblique/GT-Walsheim-LC-Regular-Oblique.woff') format('woff'),
       url('@{path-gt-walsheim}/normal-oblique/GT-Walsheim-LC-Regular-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: oblique;
}

// mode #5: weight BOLD + style NORMAL
@font-face {
  font-family: 'gt-walsheim';
  src: url('@{path-gt-walsheim}/bold-normal/GT-Walsheim-LC-Bold.otf') format('opentype'),
       url('@{path-gt-walsheim}/bold-normal/GT-Walsheim-LC-Bold.ttf') format('truetype'),
       url('@{path-gt-walsheim}/bold-normal/GT-Walsheim-LC-Bold.woff') format('woff'),
       url('@{path-gt-walsheim}/bold-normal/GT-Walsheim-LC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

// mode #6: weight BOLD + style OBLIQUE
@font-face {
  font-family: 'gt-walsheim';
  src: url('@{path-gt-walsheim}/bold-oblique/GT-Walsheim-LC-Bold-Oblique.otf') format('opentype'),
       url('@{path-gt-walsheim}/bold-oblique/GT-Walsheim-LC-Bold-Oblique.ttf') format('truetype'),
       url('@{path-gt-walsheim}/bold-oblique/GT-Walsheim-LC-Bold-Oblique.woff') format('woff'),
       url('@{path-gt-walsheim}/bold-oblique/GT-Walsheim-LC-Bold-Oblique.woff2') format('woff2');
  font-weight: bold;
  font-style: oblique;
}
