<div class="container">
  <!-- POSITION SELECT -->
  <tui-select
    class="position-select"
    [formControl]="positionControl"
    [tuiTextfieldLabelOutside]="true"
    [valueContent]="positionSelectLabel"
  >
    Позиция
    <input tuiTextfield/>

    <ng-template #positionSelectLabel let-position>
      {{ position.title }}
    </ng-template>

    <ng-template tuiDataList>
      <tui-data-list>
        <button
          *ngFor="let position of positions"
          tuiOption
          [value]="position"
        >
          {{ position.title }}
        </button>
      </tui-data-list>
    </ng-template>
  </tui-select>

  <!-- POSITION VIEW -->
  <div class="position-view">
    <router-outlet></router-outlet>
  </div>
</div>
