<div class="users">
  <tui-scrollbar>
    <ul class="users__list">
      <ng-container *ngFor="let user of users">
        <li class="item-card user-info">
          <tui-avatar new [rounded]="true" size="s" avatarUrl="tuiIconUserLarge"></tui-avatar>

          <span class="user-info__name">
            {{ user | formatName: format }}
          </span>
        </li>
      </ng-container>
    </ul>
  </tui-scrollbar>

  <ng-container *ngIf="btnText">
    <div class="users__actions">
      <button tuiButton appearance="custom" size="m">
        {{ btnText }}
      </button>
    </div>
  </ng-container>
</div>
