.users__list {
  max-height: 13rem;
}

.user-info {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.user-info__name {
  margin-left: 1rem;
}

.users__actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
