.statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.statistics__group-jobs {
  --tui-chart-0: var(--tui-support-02);
  --tui-chart-1: var(--tui-support-04);
  --tui-chart-2: var(--tui-support-06);
  --tui-chart-3: var(--tui-support-08);
  --tui-chart-4: var(--tui-support-10);
}

.statistics__group-skills {
  --tui-chart-0: var(--tui-support-11);
  --tui-chart-1: var(--tui-support-13);
  --tui-chart-2: var(--tui-support-15);
  --tui-chart-3: var(--tui-support-17);
  --tui-chart-4: var(--tui-support-19);
}
