<div class="statistics">
  <tui-arc-chart
    class="statistics__group-jobs"
    size="xl"
    [value]="jobsStatistics"
    [(activeItemIndex)]="jobsActiveIndex"
  >
    Занятия
    <div>ТОП 5</div>
  </tui-arc-chart>

  <tui-arc-chart
    class="statistics__group-skills"
    size="xl"
    [value]="skillsStatistics"
    [(activeItemIndex)]="skillsActiveIndex"
  >
    Навыки
    <div>ТОП 5</div>
  </tui-arc-chart>
</div>
