@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  --tui-chart-0: var(--tui-support-02);
  --tui-chart-1: var(--tui-support-04);
  --tui-chart-2: var(--tui-support-06);
  --tui-chart-3: var(--tui-support-08);
  --tui-chart-4: var(--tui-support-10);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-total {
  font-size: 1.5rem;
}

.legend-list {
  margin-top: 2rem;
  text-align: center;
}

.legend-item {
  margin: 0 0.5rem 0.75rem 0;
}
