<div class="container">
  <tui-ring-chart
    size="xl"
    [value]="values"
    [(activeItemIndex)]="activeItemIndex"
  >
    <span class="statistics-total">
      Пользователи: {{ total }}
    </span>
  </tui-ring-chart>

  <div class="legend-list">
    <tui-legend-item
      *ngFor="let label of labels; let index = index"
      size="m"
      class="legend-item"
      [color]="getColor(index)"
      [text]="label"
      [active]="isItemActive(index)"
      (tuiHoveredChange)="onHover(index, $event)"
    >
      {{ values[index] }}
    </tui-legend-item>
  </div>
</div>
