@import '@taiga-ui/core/styles/taiga-ui-local.less';

.container {
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 30rem;

  background-color: var(--tui-base-01);
  .shadow(3);
}

.header {
  display: flex;
  justify-content: center;
}

.header__title {
  font-size: 3rem;
  line-height: 4rem;
}

.content {
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.form__submit {
  margin-top: 2rem;
}

.footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
