<div class="container">
  <!-- HEADER -->
  <div class="header">
    <h1 class="header__title">
      Регистрация
    </h1>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
	    <tui-select
        formControlName="role"
        [tuiTextfieldLabelOutside]="true"
        [valueContent]="roleSelectLabel"
      >
        Роль
        <input
          tuiTextfield
          placeholder="Ваша роль в системе"
        />

        <ng-template #roleSelectLabel let-role>
          {{ role.name }}
        </ng-template>

        <ng-template tuiDataList>
          <tui-data-list>
            <button
              *ngFor="let role of roles"
              tuiOption
              [value]="role"
            >
              {{ role.title }}
            </button>
          </tui-data-list>
        </ng-template>
      </tui-select>

      <tui-input class="form__field" formControlName="login">
        Логин
        <input tuiTextfield/>
      </tui-input>

      <tui-input-password class="form__field" formControlName="password">
        Пароль
        <input tuiTextfield/>
      </tui-input-password>

      <button
        class="form__submit"
        tuiButton
        type="submit"
        appearance="custom"
        size="m"
        [disabled]="form.invalid"
      >
        Подтвердить
      </button>
    </form>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <button
      tuiButton
      type="button"
      appearance="custom-flat"
      size="m"
      (click)="goToLogin()"
    >
      Уже есть аккаунт
    </button>
  </div>
</div>
