<div class="container">
  <app-preview-card class="feature-growth" title="Индивидуальная траектория развития">
    <app-growth-path></app-growth-path>
  </app-preview-card>

  <app-preview-card class="feature-profile" title="Профиль">
    <ng-container *ngTemplateOutlet="blockProfile"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-tabel" title="Табель">
    <ng-container *ngTemplateOutlet="blockTabel"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-actions" title="Действия">
    <app-user-actions [actions]="internActions"></app-user-actions>
  </app-preview-card>

  <app-preview-card class="feature-rating" title="Рейтинг по програме развития">
    <app-users-rating></app-users-rating>
  </app-preview-card>

  <app-preview-card class="feature-events" title="Последние события">
    <app-events-list></app-events-list>
  </app-preview-card>

  <app-preview-card class="feature-timesheet" title="Расписание программы развития">
    <app-study-timesheet></app-study-timesheet>
  </app-preview-card>
</div>

<!-- PROFILE -->
<ng-template #blockProfile>
  <div class="profile">
    <ul class="profile__info">
      <li>1. <b>ФИО:</b> {{ intern | formatName: NameFormat.CASUAL }}</li>
      <li>2. <b>Дата рождения:</b> 14.10.2002</li>
      <li>3. <b>Должность:</b> аналитик</li>
      <li>4. <b>Место стажировки:</b> {{ organization.shortName }}</li>
      <li>5. <b>Руководитель:</b> {{ director | formatName: NameFormat.LONG }}</li>
    </ul>

    <div class="profile__actions">
      <app-user-actions [actions]="toProfileActions"></app-user-actions>
    </div>
  </div>
</ng-template>

<!-- TABEL -->
<ng-template #blockTabel>
  <div class="tabel">
    <app-user-actions [actions]="toTabelActions"></app-user-actions>
  </div>
</ng-template>
