.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.feature-growth {
  grid-column: span 4;
}

.feature-profile {
  grid-column: span 3;
}

.feature-tabel {
  grid-column: span 3;
}

.feature-actions {
  grid-column: span 2;
}

.feature-rating {
  grid-column: span 3;
}

.feature-events {
  grid-column: span 4;
}

.feature-timesheet {
  grid-column: span 5;
}

// ########## PROFILE ##########

.profile {
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// ########## TABEL ##########

.tabel {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// ##################################################

.list-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.tabel {
  text-align: center;
}

.download-link {
  display: inline-block;
  width: 70px;
  padding: 5px 10px;
  background-color: #663399;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
