@import '/src/styles/theme/colors.less';

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: @background-area;
}

.content {
  flex: 1 0 auto;
  padding: 2rem;
}

.header, .footer {
  flex-shrink: 0;
}
