/** Карьерная палитра #0 — начальный **/
@text-default: #1A1230;
@text-contrast: #1A1230;
@text-action: #FFFFFF;
@background-area: lightgray; // min
@background-block: #FFFFFF; // mid
@background-action: #663399; // max
