/** Карьерная палитра #1 — красный **/
@text-default: #1A1230;
@text-contrast: #1A1230;
@text-action: #FFFFFF;
@background-area: #FF0F43; // min
@background-block: #D70A3F; // mid
@background-action: #98093F; // max
