/** Карьерная палитра #2 — желтый **/
@text-default: #1A1230;
@text-contrast: #1A1230;
@text-action: #FFFFFF;
@background-area: #FFBE55; // min
@background-block: #FF9C27; // mid
@background-action: #FF670B; // max
