/** Карьерная палитра #3 — фиолетовый **/
@text-default: #1A1230;
@text-contrast: #FFFFFF;
@text-action: #FFFFFF;
@background-area: #B390EC; // min
@background-block: #9068C0; // mid
@background-action: #663399; // max
