/** Карьерная палитра #4 — зеленый **/
@text-default: #1A1230;
@text-contrast: #FFFFFF;
@text-action: #FFFFFF;
@background-area: #038D77; // min
@background-block: #007567; // mid
@background-action: #00443D; // max
