/** Карьерная палитра #5 — серый **/
@text-default: #1A1230;
@text-contrast: #1A1230;
@text-action: #FFFFFF;
@background-area: #E9EAEE; // min
@background-block: #C1C2C7; // mid
@background-action: #6F6F6F; // max
