/** Карьерная палитра #6 — синий **/
@text-default: #1A1230;
@text-contrast: #FFFFFF;
@text-action: #FFFFFF;
@background-area: #3F6FD1; // min
@background-block: #1833A0; // mid
@background-action: #171E72; // max
