<div
  class="container"
>
  <!-- INFO -->
  <div class="info">
    <h6 class="info__copyright">
      © 2023 Collabse
    </h6>
  </div>

  <!-- DOCS -->
  <div class="docs">
    <a
      class="docs__policy"
      tuiLink
      href="https://disk.yandex.ru/i/4BL1YkvSScZ56w"
      target="_blank"
    >
      Политика обработки данных
    </a>
  </div>
</div>
