@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '/src/styles/theme/colors.less';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  border-radius: 2rem 2rem 0 0;

  background-color: @background-block;
  color: @text-contrast;
  .shadow(4);
}

.info__copyright {
  font-size: 1.25rem;
}

.docs__policy {
  color: @text-contrast !important;

  &:hover {
    text-decoration: underline;
  }
}
