<div class="container">
  <app-preview-card class="feature-growth" title="Путь развития">
    <ng-container *ngTemplateOutlet="blockGrowth"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-form" title="Профиль кандидата">
    <ng-container *ngTemplateOutlet="blockForm"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-steps" title="Этапы отбора">
    <ng-container *ngTemplateOutlet="blockSteps"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-events" title="Последние события">
    <app-events-list></app-events-list>
  </app-preview-card>

  <app-preview-card class="feature-school" title="Карьерная школа">
    <ng-container *ngTemplateOutlet="blockSchool"></ng-container>
  </app-preview-card>
</div>

<!-- GROWTH -->
<ng-template #blockGrowth>
  <div class="growth">
    <div class="growth__info">
      <p>Тут может быть твой путь развития, но у нас недостаточно данных!</p>
    </div>

    <div class="growth__actions">
      <app-user-actions
        [actions]="toMotivationActions"
        (selected)="handleMotivationFormAction($event)"
      ></app-user-actions>
    </div>
  </div>
</ng-template>

<!-- FORM -->
<ng-template #blockForm>
  <div class="form">
    <div class="form__info">
      <p>Тут должна быть профиль кандидата.</p>
      <p>Заполни его, пожалуйста, чтобы мы могли допустить тебя к следующему этапу отбора.</p>
    </div>

    <div class="form__actions">
      <app-user-actions
        [actions]="toProfileActions"
        (selected)="handleProfileFormAction($event)"
      ></app-user-actions>
    </div>
  </div>
</ng-template>

<!-- STEPS -->
<ng-template #blockSteps>
  <div class="steps">
    <div class="steps__List">
      <p>1. "Карьерная школа"</p>
      <p style="font-weight: bold">Статус: проходится с 22.04.2023</p>
      <p>1. Тестирование</p>
      <p>2. Кейс-чемпионат</p>
      <p>3. Приглашение на стажировку</p>
    </div>
  </div>
</ng-template>

<!-- SCHOOL -->
<ng-template #blockSchool>
  <div class="school">
    <div class="school__info">
      <p>Хочешь узнать больше о передовых практиках сити-менеджмента и работе на важнейших городских проектах?</p>
      <p>Приходи в <a href="#">Карьерную школу</a>!</p>
    </div>
  </div>
</ng-template>
