.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.feature-growth {
  grid-column: span 6;
}

.feature-form {
  grid-column: span 6;
}

.feature-steps {
  grid-column: span 4;
}

.feature-events {
  grid-column: span 4;
}

.feature-school {
  grid-column: span 4;
}

// ########## GROWTH ##########

.growth {
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.growth__info {
  text-align: center;
}

// ########## FORM ##########

.form {
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__info {
  text-align: center;
}

// ########## STEPS ##########

.steps {
  min-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ########## SCHOOL ##########

.school {
  min-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.school__info {
  text-align: center;
}
