.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.feature-candidates {
  grid-column: span 3;
}

.feature-requests {
  grid-column: span 3;
}

.feature-tabels {
  grid-column: span 3;
}

.feature-actions {
  grid-column: span 3;
}

.feature-candidates-statistics {
  grid-column: span 3;
}

.feature-interns-statistics {
  grid-column: span 4;
}

.feature-rating {
  display: grid;
  grid-column: span 5;
}

// ########## REQUESTS ##########

.requests__list {
  max-height: 13rem;
}

.request-info {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.requests__actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

// ########## TABELS ##########

.tabels__list {
  max-height: 16rem;
}

.tabel-info {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.tabel-info__name,
.tabel-info__date,
.tabel-info__actions {
  flex: 1;
}

.tabel-info__date {
  text-align: center;
}

.tabel-info__actions {
  text-align: right;
}
