<div class="container">
  <app-preview-card class="feature-candidates" title="Список кандидатов">
    <app-users-list
      [format]="NameFormat.CASUAL"
      [users]="candidates"
      btnText="Посмотреть список кандидатов"
    ></app-users-list>
  </app-preview-card>

  <app-preview-card class="feature-requests" title="Заявки на стажеров от наставников">
    <ng-container *ngTemplateOutlet="blockRequests"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-tabels" title="Табели">
    <ng-container *ngTemplateOutlet="blockTabels"></ng-container>
  </app-preview-card>

  <app-preview-card class="feature-actions" title="Чат / письмо">
    <app-user-actions [actions]="curatorActions"></app-user-actions>
  </app-preview-card>

  <app-preview-card class="feature-candidates-statistics" title="Статистика по пользователям">
    <app-users-statistics></app-users-statistics>
  </app-preview-card>

  <app-preview-card class="feature-interns-statistics" title="Статистика по заявкам на стажеров">
    <app-requests-statistics></app-requests-statistics>
  </app-preview-card>

  <app-preview-card class="feature-rating" title="Рейтинг">
    <app-school-rating></app-school-rating>
  </app-preview-card>
</div>

<!-- REQUESTS -->
<ng-template #blockRequests>
  <div class="requests">
    <tui-scrollbar>
      <ul class="requests__list">
        <ng-container *ngFor="let request of requests">
          <li class="item-card request-info">
            <span class="request-info__title">
              {{ request.organization.shortName | uppercase }}
              {{ '( рук:' }}
              {{ request.director | formatName: NameFormat.SHORT }}
              {{ ')'}}
            </span>
          </li>
        </ng-container>
      </ul>
    </tui-scrollbar>

    <div class="requests__actions">
      <button tuiButton appearance="custom" size="m">
        Посмотреть список заявок
      </button>
    </div>
  </div>
</ng-template>

<!-- TABELS -->
<ng-template #blockTabels>
  <div class="tabels">
    <tui-scrollbar>
      <ul class="tabels__list">
        <ng-container *ngFor="let tabel of tabels">
          <li class="item-card tabel-info">
            <span class="tabel-info__name">
              {{ tabel.name }}
            </span>

            <span class="tabel-info__date">
              {{ tabel.created }}
            </span>

            <div class="tabel-info__actions">
              <a
                tuiButton
                appearance="custom"
                size="s"
                [href]="tabel.url"
                target="_blank"
              >
                скачать
              </a>
            </div>
          </li>
        </ng-container>
      </ul>
    </tui-scrollbar>
  </div>
</ng-template>
