@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  --tui-chart-0: var(--tui-support-01);
  --tui-chart-1: var(--tui-support-03);
  --tui-chart-2: var(--tui-support-05);
  --tui-chart-3: var(--tui-support-07);
  --tui-chart-4: var(--tui-support-09);
  --tui-chart-5: var(--tui-support-11);
  --tui-chart-6: var(--tui-support-13);
  --tui-chart-7: var(--tui-support-15);
  --tui-chart-8: var(--tui-support-17);
  --tui-chart-9: var(--tui-support-19);
}

.container {
  display: flex;
  align-items: center;
  min-height: 20rem;
}

.statistics-total {
  font-size: 1.5rem;
}

.legend-list {
  margin-left: 1rem;
  text-align: center;
}

.legend-item {
  margin: 0 0.5rem 0.75rem 0;
}
