@import '@taiga-ui/core/styles/taiga-ui-local.less';

// BUTTON

[tuiButton] {
  height: auto !important;

  // * color
  &[data-appearance='custom'] {
    background: @background-action;
    color: @text-action;
  }
  & [data-appearance='custom-flat'] {
    color: @background-action;
  }

  // * size
  &[data-size='m'] {
    --tui-padding: 1rem;
    min-height: var(--tui-height-m);
  }
  &[data-size='s'] {
    --tui-padding: 0.75rem;
    min-height: var(--tui-height-xs);
  }
  &[data-size='xs'] {
    --tui-padding: 0.5rem;
    min-height: var(--tui-height-xs);
  }
}
